{% extends 'base.html' %}

{% block head_title %}Airport App Home{% endblock %}
{% block body_title %}Welcome! {% endblock %}

{% block content %}

<hr>


<div class="page-container">
<h3 class="cairo-font" >Departures</h3>
  <div class = 'table-container'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Flight Number</th>
        <th scope="col">To</th>
        <th scope="col">Departure Time</th>
      </tr>
    </thead>
    <tbody>
    {% for flight in queryset.departures %}
        <tr>
              <th scope="row">{{flight.flight_id}}</th>
              <td>{{flight.destination}}</td>
              <td>{{flight.departure_time}}</td> 
        </tr>
    {% endfor %}
    </tbody>

  </table>
  </div>

  <br>
  <br>

<h3 class="cairo-font" >Arrivals</h3>
  <div class = 'table-container'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Flight Number</th>
        <th scope="col">From </th>
        <th scope="col">Arrival Time</th>
      </tr>
    </thead>
    <tbody>
    {% for flight in queryset.arrivals%}
        <tr>
              <th scope="row">{{flight.flight_id}}</th>
              <td>{{flight.origin}}</td>
              <td>{{flight.departure_time}}</td> 
        </tr>
    {% endfor %}
    </tbody>

  </table>
  </div>

{% endblock %}


